'.source.micro':
  'editor':
    'commentStart': 'nb ',
    'increaseIndentPattern': '(?x)
      \\bfn\\b[^(]*\\([^)]*\\)[^;]*$
      | \\blet\\b[^;]*$
      | \\(\\s*$
      | ^\\s*\\)
    '
    'decreaseIndentPattern': '(?x)
      ^\\s*;
      | ^\\s*\\)
    '
