'.source.micro':
	'editor':
		'commentStart': 'nb ',
		'increaseIndentPattern': '(?x)
			\\bfn\\b[^(]*\\([^)]*\\)[^;]*$
			| \\(\\s*$
			| ^\\s*\\)
			| \\bif\\b.*$
		'
		'decreaseIndentPattern': '(?x)
			^\\s*;
			| ^\\s*\\)
		'
